<div class="list-header">
    <i class="pi pi-th-large"></i>
    <i class="pi pi-list"></i>
</div>
<div class="list-tiles col-12">
    <div class="tiles col-4" *ngFor="let shoe of listItems; let i=index;">
        <div>
            <img [src]="shoe.imageUrl" alt="1">
        </div>
        <div class="details">
            <span style="padding-top: 0.5rem ; "><strong>{{shoe.name}}</strong></span>
            <span class="stock-label instock" *ngIf="shoe.isInStock">In stock</span>
            <span class="stock-label outofstock" *ngIf="!shoe.isInStock">Out of stock</span>
        </div>
        <div class="description">
            {{shoe.description}}
        </div>
        <div class="price-label">₹ {{shoe.price | number}}</div>
        <div class="cart-button" [ngClass]="shoe.isInStock?'button-enabled':'button-disabled'" (click)="addItemToCart(i, shoe)">
            ADD TO CART
        </div>
    </div>
</div>