<div class="list-header">
    <i class="pi pi-th-large"></i>
    <i class="pi pi-list"></i>
</div>
<div class="list-tiles">
    <div class="tiles">
        <div>
            <img src="../../assets/shoe1.jpeg" alt="1">
        </div>
        <div>
            <span>Name of shoe</span>
            <span>In stock</span>
        </div>
        <div>
            Men's running shoe
        </div>
        <div>Price</div>
        <div class="cart-button">
            ADD TO CART
        </div>
    </div>
</div>